// search-modal
@media (min-width: 576px){
  .modal {
    --bs-modal-margin: 1.75rem;
    --bs-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
}

.modal {
  --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: #fff;
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: 1px;
    --bs-modal-border-radius: 0.5rem;
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-modal-inner-border-radius: calc(0.5rem - 1px);
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: 1px;
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-dialog {
  margin-top: 200px;
  max-width: 600px;
  @include desktop {
    margin-top: 80px;
  }
  margin-right: auto;
  margin-left: auto;
}
.search-modal {
  .input-group-text,
  .search-form-control {
    border: 2px solid rgba($color-primary, 0.5);
  }
  .search-form-control {
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .modal-body {
    max-height: calc(100vh - 350px);
    padding: 1rem;
    overflow-y: auto;
    background-color: #f5f6f7;
    box-shadow: inset 0px 2px 18px #ddd;
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);

    &::-webkit-scrollbar {
      width: 5px;
      &-track {
        background: $white;
      }
      &-thumb {
        background: #c7c7c7;
      }
    }
  }
}
.search-result-item {
  &:first-child {
    .section:not(:empty) {
      margin-top: -15px;
    }
  }
  &:not(:last-child) a {
    margin-bottom: -1px;
  }
  > .section {
    padding: 0 0.75rem;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    &:empty {
      display: none;
    }
  }
  .block {
    display: block;
    padding: 0.65rem 1rem;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fff;
    transition: 0.1s;
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      font-weight: 500;
      mark:not(:first-child) {
        background-color: transparent;
      }
      mark {
        color: $color-primary;
        background-color: rgba($color-primary, 0.05);
      }
      &:empty {
        display: none;
      }
    }
    &:focus,
    &:hover {
      background-color: rgba($color-primary, 0.8);
      * {
        color: white !important;
      }
      mark {
        color: $color-primary !important;
        background-color: $white;
      }
    }
  }
}
#search-result-body {
  &:empty {
    &::after {
      content: "No search results found.";
      display: block;
      text-align: center;
      margin: 1.5rem 0;
      opacity: 0.5;
    }
  }
}

.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}

.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

.modal-header {
  align-items: center;
}

.modal-content{
  background-color: white;
  position: relative;
  border-radius: 10px;
}