<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ block "title" . }}{{ end }}</title>
  {{ template "style.html" . }}
</head>
<body>
  <span class="preheader">{{ block "preheader" . }}{{ end }}</span>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
      {{ block "content" . }}{{ end }}

      {{ template "footer.html" . }}
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
</body>
</html>