<div class="footer">
  <hr />
  <p>What is Ensign? Ensign is a database meets streaming platform for data science teams. Build real-time data products now without breaking PROD or learning DevOps.</p>
  <p>Rotational Labs, Inc. &middot; 215 Alynn Way &middot; Queenstown, MD 21658</p>

  <ul>
    <li><a href="https://rotational.app/">Sign In</a></li>
    <li><a href="https://rotational.io/privacy/">Privacy Policy</a></li>
    <li><a href="https://rotational.io/terms/">Terms of Service</a></li>
  </ul>

  <p>Copyright &copy; <a href="https://rotational.io">Rotational Labs, Inc.</a>, All Rights Reserved</p>
</div>