<p>Hey there!</p>

<p>{{ .InviterName }} has invited you to join the {{ .OrgName }} organization on Ensign as a {{ .Role }}. Accept
    your invitation by clicking <a href="{{ .InviteURL }}">this
        link</a>.</p>

<p>If you cannot click the link, please copy and paste the following URL into your browser:</p>

<p>{{ .InviteURL }}</p>

<p>If you are having trouble with the invitation, please contact us at <a
        href="mailto:support@rotational.io">support@rotational.io</a>.</p>

<p>Cheers</p>

<p>The Ensign Team</p>

<p>P.S. Already have an Ensign login under a different email address? Just login to your existing account, add/confirm
    this email address, and then accept the invitation.</p>