<body style="font-family:'Montserrat', sans-serif; font-size: 16px">
    <h2>Ensign</h2>

    <h1>Join Your Team on Ensign</h1>

    <p>{{ .InviterName }} has invited you to use Ensign with them, in a workspace called {{ .OrgName }}.</p>

    <p>Accept the invitation by clicking <a href="{{ .InviteURL }}">this
            link</a>.</p>

    <button
        style="background-color: #1D65A6; border: none; width: 201px; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 5px;">
        <a href="{{ .InviteURL }}" style="color: white; text-decoration: none;">Join Now</a></button>

    <p>If you have any questions, please contact <a href="mailto:support@rotational.io">support@rotational.io</a>.</p>

    <p>Thank you,<br /><br />
        The Ensign Team<br />
        Rotational Labs</p>
</body>