{{ template "base.html" . }}

{{ define "title" }}Your Ensign Password Has Been Reset{{ end }}
{{ define "preheader" }}Confirming that your Ensign password has successfully been reset.{{ end }}

{{ define "content" }}
<div class="content">
  <p>Hello,</p>

  <p>Your Ensign password has been successfully reset. If you requested this password reset then no further action is required.</p>

  <p>If you did not request a password reset, please contact our Ensign Customer Support team immediately at support@rotational.io.</p>

  <p>We appreciate your attention to account security.</p>

  <p>Best regards,<br /><br />The Ensign Team<br />Rotational Labs</p>
</div>
{{ end }}